.containerImageWorkers{
    display: flex;
    align-items: center;
    width: 300px;
    height: auto;
    padding-left: 50px;
}

.containerIconWorkers{
    width: 73px;
    height: 73px;
    border-radius: 50%;
    background-color: rgb(249, 249, 249, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    position: relative;
    bottom: 65px;
    left: 26px;
    animation: Icon 2s ease-in-out infinite;
}

@keyframes Icon {
    0% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(4deg);
    }
    100% {
        transform: rotate(-4deg);
    }
}



.IconWorkers{
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background-color: #FFFFFF;
    -webkit-box-shadow: -1px -1px 6.5px 5.5px #dddddd;
    -moz-box-shadow: -1px -1px 6.5px 5.5px #dddddd;
    box-shadow: -1px -1px 6.5px 5.5px #dddddd;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9A03FF;
    z-index: 5;
}

.itemsRol{
    animation: rol 2s ease-in-out infinite;
}

@keyframes rol {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.containerOpinionWorkers{
    width: 400px;
    height: auto;
}

.opinionWorkers {
    font-size: 12px;
}

.carousel-control-prev {
    left: -60px;
}

.carousel-control-next {
    right: -60px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 28px;
    height: 28px; 
}

/* Estilos específicos para teléfonos */
@media screen and (max-width: 767px) {
    
    .containerImageWorkers{
        width: 200px;
    }

    .image-worker{
        width: 150px;
        height: 150px;
    }
    
    .containerIconWorkers{
        width: 53px;
        height: 53px;
        bottom: 35px;
        left: 14px;
    }
    
    .IconWorkers{
        width: 33px;
        height: 33px;
        font-size: 0.7em;
    }
    
    .containerOpinionWorkers{
        width: 250px;
        height: auto;
    }
    
    .opinionWorkers {
        font-size: 9px;
    }

    .carousel-control-prev {
        left: -45px;
    }

    .carousel-control-next {
        right: -45px;
    }
}