@import "tailwindcss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{ 
  a{
    text-decoration: none;
  }
}

body{
  background-color: #e7ecff;
}


@theme {
  --animate-rol: rol 2s ease-in-out infinite;

  @keyframes rol {
    0%, 100% { transform: translateY(0); }
    50%       { transform: translateY(10px); }
  }
}